<!DOCTYPE html>
  <html>
    <head>
      <title> TTT Game </title>
    </head>
  <body>
    <h1> Welcome to Tic-Tac-Toe </h1>
    <p align='center'>
    <table width='25%'> 
      <tr>
      {% for key, val in board.items() %}
        {% if key < 4 %}
          <th>|   {{key}} : </th> <td>{{val}}   |</td>
        {% endif %}
      {% endfor %}
      </tr>

      <tr>
      {% for key, val in board.items() %}
        {% if 3<key<7 %}
          <th>|   {{key}} : </th> <td>{{val}}   |</td>
        {% endif %}
      {% endfor %}
      </tr>

      <tr>
      {% for key, val in board.items() %}
        {% if 6<key<10 %}
          <th>|   {{key}} : </th> <td>{{val}}   |</td>
        {% endif %}
      {% endfor %}
      </tr>

    </table>
    </p>
  </body>
</html>
